<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="geodate.client"
      android:versionCode="1"
      android:versionName="1.0.0">
   
   
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
  <uses-permission android:name="android.permission.INTERNET" /> 
  <uses-permission android:name="android.permission.ACCESS_GPS" /> 
  <uses-permission android:name="android.permission.ACCESS_LOCATION" /> 
  <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" /> 
  <uses-permission android:name="android.permission.ACCESS_CELL_ID" /> 
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
       
       <uses-library android:name="com.google.android.maps" />
       		
		<activity android:name=".activities.SplashActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity" />        
        <activity android:name=".activities.HelpActivity" />
        <activity android:name=".activities.FullProfileActivity" />        	
        <activity android:name=".activities.PublicProfileActivity" />        	
		<activity android:name=".activities.EditProfileExamplesActivity" />      
        <activity android:name=".activities.EditProfileExampleActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".activities.QuickSearchActivity" />
		<activity android:name=".activities.CustomSearchActivity" />                         
        <activity android:name=".activities.ManageSearchesActivity" />
        <activity android:name=".activities.MapSrchResultActivity" android:label="@string/app_name" />
        <activity android:name=".activities.CommunicateActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.GenericSettingsActivity" />
        <activity android:name=".activities.WebRequestActivity" />
        <activity android:name=".activities.AskForIDActivity" />

        <activity android:name=".activities.StubActivity">
            <intent-filter>
                <action android:name="geodate.client.stub" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>               
        
        <activity android:name=".activities.ProxyActivity" />        
        <activity android:name=".activities.ProxyParametersActivity" android:theme="@android:style/Theme.Dialog">
        	<intent-filter>
                <action android:name="geodate.client.proxytest" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
        <activity android:name=".activities.LogActivity" />        
        <activity android:name=".activities.MockupActivity" />                   
        <activity android:name=".activities.CategoryTestActivity" />	
        <activity android:name=".activities.HelpActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="geodate.client.helpactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
        <activity android:name=".activities.ProfileListItemActivity"> 
            <intent-filter>
                <action android:name="geodate.client.profilelistitemactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                
    </application>
        <uses-sdk android:minSdkVersion="3" />
    </manifest> 
